body {
  background-color: black;
  color: white;
}
#filter {
  margin: 5px;
}
.event {
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 20px;
}
.date {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profits {
  background-color: rgb(254, 180, 6)
}
.presend {
  background-color: #3EC70F;
}
h1 {
  text-align: center;
}
h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: white;
}
